<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="twanwatanakool.elevatorpitch1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="twanwatanakool.elevatorpitch1.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="twanwatanakool.elevatorpitch1.CompanyList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="twanwatanakool.elevatorpitch1.InterviewChecklist"
            android:screenOrientation="portrait"/>

        <activity android:name="twanwatanakool.elevatorpitch1.IndividualCompany"
            android:screenOrientation="portrait"/>

        <activity android:name="twanwatanakool.elevatorpitch1.BehavioralQuestion"
            android:screenOrientation="portrait"/>

        <activity android:name="twanwatanakool.elevatorpitch1.TechnicalQuestion"
            android:screenOrientation="portrait"/>

        <activity android:name="twanwatanakool.elevatorpitch1.InterviewTips"
            android:screenOrientation="portrait"/>
    </application>

</manifest>